.cajaCarrito{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productoTarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.carroVacio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.boton {
    background-color:#4648C9;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

.carritoContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botonBorrarProducto {
    background-color: red;
}

.precioTotal {
    margin-left: 100px;
}

.botonBorrar {
    width: 15%;
    margin-left: 100px;
    background-color: red;
}

.boton {
    width: 15%;
    text-align: center;
    margin-left: 100px;
}