.resumenCompra {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

li {
    list-style: none;
}

.resumenProducto {
    display: flex;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
    margin-top: 60px;
    align-self: center;
    justify-self: center;
}

.botonEnviar {
    width: 40%;
    margin-top: 15px;
}